trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- checkout: self

- task: AzureCLI@2
  displayName: Terraform Init & Plan
  inputs:
    azureSubscription: azurerm-terraform-sc   # your service connection
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      terraform --version
      terraform init
      terraform validate
      terraform plan
